.btn {
  background-color: rgb(145, 145, 224);
  margin: 30px;
  width: 125px;
  font-size: 22px;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(145, 145, 224);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
