.card {
  height: 250px;
  width: 500px;
  background-color: blue;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
