@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Montserrat:wght@100&family=Oswald&family=Tiro+Telugu:ital@1&display=swap");

.App {
  text-align: center;
  background-image: url("../src/Assets/Header.jpg");
  height: 200vh;
  background-size: cover;
  border-radius: 10px;
}
.header--img {
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 255, 0.204);
}
.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  justify-content: flex-start;
  align-items: flex-end;
  height: 65px;
  border-radius: 10px;
}
.nav-list {
  margin: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.desc {
  text-align: center;
  margin-top: 200px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
}
