.card {
  height: 250px;
  width: 700px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 20px 20px 35px #d0d0d0, -20px -20px 35px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
